@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --bg: #ffffff;
  --text: #494545;
  --text2: rgb(221, 76, 19);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --text: #ededed;
    --text2: gold;
  }
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
/* section wrapper */
section {
  padding: 18px;
}
/* nav div */
.nav {
  display: flex;
  flex-direction: row;
  padding: 7px;
}
.nav .link {
  text-decoration: none;
  font-size: small;
  margin-right: 10px;
}
/* content body */
.content {
  margin: auto;
  width: auto;
  display: table;
  padding: 27px;
}
/* Converter */
.converter {
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding: 18px;
}
.converter label {
  margin-right: 18px;
}
.converter select {
  padding: 10px;
  border: none;
  background-color: inherit;
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
}
.tinput {
  border: none;
  margin-left: 18px;
  border-bottom: 0.5px solid;
  width: 72px;
  font-family: monospace;
  font-weight: bold;
}
.converter p {
  font-family: monospace;
  font-weight: bold;
  font-size: large;
}
.converter small {
  color: var(--text2);
  font-size: medium;
}
.converter .jd {
  border: none;
  margin-left: 18px;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  padding: 7px;
  width: 180px;
  border-bottom: 1px solid;
}
p.content {
  padding: 10px;
  width: 95%;
  margin: 10px auto;
  text-align: justify;
  font-size: medium;
  text-justify: auto;
}

/* media q */
@media (max-width: 1000px) {
  .content {
    padding: auto;
  }
}
