.hmdev {
  padding: 18px;
}
.home {
  margin: auto;
  width: auto;
  display: table;
  padding: 27px;
}
.lnk {
  text-decoration: none;
}
@media (max-width: 1000px) {
  .home {
    padding: auto;
  }
}
