/*  */
.nav-link {
  text-decoration: none;
  color: var(--cfg);
}

.post-body {
  padding: 5px;
  h3 {
    font-weight: 500;
  }
  p {
    text-align: justify;
    text-justify: auto;
    font-weight: 500;
  }
  img {
    width: 100%;
    height: 100px;
    border-radius: 10px;
  }
}
.moon-age {
  padding: 10px;
  text-align: center;
  background-color: var(--cmed);
  border-radius: 7px;
  small {
    font-style: italic;
  }
  pre {
    text-align: center;
  }
}
